@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fbfbfd;
  --fg: #0b0b0f;
  --muted: #6b7280;
}

html,
body {
  background: var(--bg);
  color: var(--fg);
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
  }
}
